<template>
  <v-app>
    <!-- App header -->
    <v-toolbar app dark fixed color="primary">
      <v-toolbar-title @click="$router.push('/')" style="cursor: pointer;">Quwi</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-xs-only">
        <template v-if="!user">
          <v-btn flat to="/login"><v-icon class="hidden-sm-only" left>create</v-icon>Login</v-btn>
        </template>

        <template v-else>
          <v-btn flat large>
            User: {{ user.name }}
          </v-btn>
          <v-btn flat to="/"><v-icon class="hidden-sm-only" left>chat</v-icon> Projects</v-btn>
          <v-btn flat @click="() => { act_auth_logout(); $router.push('/login') }"><v-icon class="hidden-sm-only" left>create</v-icon>Logout</v-btn>
        </template>
      </v-toolbar-items>
    </v-toolbar>

    <!-- App main content -->
    <v-content>
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions(['act_auth_logout'])
  },
  computed: {
    ...mapState(['user'])
  }
}
</script>

<style>
img {
  max-width: 100%;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}
.fade-enter-active {
  transition-delay: 0.25s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
</style>
