<template>
  <v-container>
    <v-layout justify-center align-center>
      <v-flex xs12 sm8 md6>
        <v-card class="mb-3 h-w-100" v-for="project in projects" :key="project.id">
          <v-card-title class="headline">
            <span v-if="!editMode">{{ project.name }}</span>
            <v-text-field v-else @input="(e) => { tempName = e }" :value="project.name" clearable class="ml-3 pt-0" prepend-icon="edit" placeholder="Edit title" color="accent" hide-details></v-text-field>
          </v-card-title>
          <v-card-text>
            <p class="mb-0">Status: {{ !!project.is_active }}</p>
            <p class="mb-0">Time this week: {{ project.spent_time_week }}</p>
            <p class="mb-0">This month: {{ project.spent_time_month }}</p>
            <p class="mb-0">Total: {{ project.spent_time_all }}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-if="!editMode" @click="editMode = true" color="primary" flat>Edit</v-btn>
            <template v-else>
              <v-btn @click="tempName = ''; editMode = false;" color="danger" flat>Cancel</v-btn>
              <v-btn @click="saveProject(project.id)" color="success" flat>Save</v-btn>
            </template>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  data () {
    return {
      editMode: false,
      tempName: ''
    }
  },
  components: {
    Logo,
    VuetifyLogo
  },
  async asyncData( { app, $axios } ) {
    const { data } = await $axios.get('/projects-manage/index')
    return {
      projects: data.projects
    }
  },
  methods: {
    saveProject (id) {
      if (this.tempName) {
        this.$axios.put(`/projects-manage/update?id=${id}`, {
          name: this.tempName
        })
        .then(( { data }) => {
          let index = this.projects.findIndex(item => item.id === id)
          this.projects[index].name = data.project.name
        })
        .catch(err => console.log(err))
        .finally(() => {
          this.editMode = false
          this.tempName = ''
        })
      }
    }
  }
}
</script>

<style scoped>
  .h-w-100 {
    width: 100%;
  }
</style>
