<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center>
      <v-flex text-xs-center xs12 sm8 md4>

        <v-alert class="mb-3" :value="error" type="error" transition="scale-transition">
          {{ error }}
        </v-alert>

        <v-card class='elevation-12'>
          <v-form @submit.prevent="login" v-model="valid" lazy-validation ref="form">
          <v-toolbar dark color='primary'>
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>

          <v-card-text>
            <v-text-field prepend-icon='person' :rules="userEmailRules" v-model="user.email" name='email' label='Email' type='text' autocomplete='new-password'></v-text-field>
            <v-text-field prepend-icon='lock' :rules="passwordRules" v-model="user.password" name='password' label='Password' type='password' autocomplete='new-password'></v-text-field>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" :disabled="!valid" type="submit">Sign in</v-btn>
          </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      error: null,
      user: {},
      valid: true,
      userEmailRules: [
        email => !!email || 'Email is required',
        email => /.+@.+/.test(email) || 'E-mail must be valid'
      ],
      passwordRules: [
        password => !!password || 'Passowrd is required'
      ]
    }
  },
  methods: {
    ...mapActions(['act_auth_setupUserData']),
    login () {
      /* reset error */
      this.error = null
      /* validate form */
      if (this.$refs.form.validate()) {
        this.$axios.post('auth/login', this.user)
          .then(({ data }) => {
            this.$cookies.set('authToken', data.token)
            this.act_auth_setupUserData(data.app_init.user)
            this.$router.push('/')
          })
          .catch(({ response }) => {
            this.error = response.statusText
          })
      }
    }
  }
}
</script>
